* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; 
}

body {
  min-height: 100vh;
  width: 100%;
  background: #3A4A4D;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.container .login_form {
  padding: 2rem;
}

.login_form header {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}

.login_form input {
  height: 60px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.login_form input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.login_form a {
  font-size: 16px;
  color: #3A4A4D;
  text-decoration: none;
}

.login_form a:hover {
  text-decoration: underline;
}

.login_form input.button {
  color: #fff;
  background: #3A4A4D;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem; /* Adjusted margin-top */
  margin-bottom: 0.5rem; /* Added margin-bottom */
  cursor: pointer;
  transition: 0.4s;
}

.login_form input.button:hover {
  background: #7f9fa4;
}

.login_form button {
  height: 60px; /* Match the height with other input fields */
  width: 100%;
  padding: 0 15px;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem; /* Adjusted margin-top */
  background-color: #3A4A4D; /* Button background color */
  color: #fff; /* Text color */
  border: none; /* Remove border */
  border-radius: 6px; /* Add border radius */
  cursor: pointer;
  transition: background-color 0.4s; /* Smooth transition */
}

.login_form button:hover {
  background-color: #7f9fa4; /* Change background color on hover */
}


.signup {
  font-size: 17px;
  text-align: center;
}

.signup-link {
  margin-top: 1rem; /* Added margin-top */
}
