@charset "ISO-8859-1";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; 
}

body {
  min-height: 100vh;
  width: 100%;
  background: #3A4A4D;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 15px;
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 2rem;
}

.container h1 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}

.container p {
  font-size: 17px;
  margin-bottom: 1.3rem;
}

.container a {
  font-size: 16px;
  color: #3A4A4D;
  margin: 5px;
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}

.container button {
  height: 60px;
  width: 100%;
  padding: 0 15px;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.2rem;
  background-color: #3A4A4D;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.4s;
}

.container button:hover {
  background-color: #7f9fa4;
}

.container .image img {
  border-radius: 50%;
   width: 150px; /* Set a fixed width */
  height: 150px; 
  align-content: center;
}


.container form {
  margin-top: 10px;
}