body {
  font-family: 'Roboto', sans-serif;
  background-color: #3A4A4D;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #F9FBFB;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 8px;
  width: 400px;
}

h1 {
  text-align: center;
}

.form-row {
  display: flex;
  margin-bottom: 15px;
}

.col {
  flex: 1;
  margin-right: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: #3A4A4D;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #729fab;
}

input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Style the label for the image input */
label[for="helmet_image"] {
  display: block;
  font-weight: bold;
  margin-top: 10px; /* Adjust margin as needed */
}

/* Hide default file input button */
input[type="file"]::-webkit-file-upload-button {
  display: none;
}

/* Style custom file input button */
.custom-file-input {
  background-color: #3A4A4D;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

.custom-file-input:hover {
  background-color: #729fab;
}
